# Dependency directories
node_modules/
bower_components/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# nyc output
.nyc_output
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Generic
.*.swp
._*
.DS_Store
package-lock.json

#directories of compiled files
dist/
libs/

# vscode
.vscode/